<ion-header>
      <ion-navbar secondary> <!--hideBackButton="true"-->
    <ion-title>
      用户登录
    </ion-title>
    <ion-buttons end>
      <button ion-button block (click)="goBackPage()">
        返回注册
      </button>
    </ion-buttons>    
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="app-logo"><img src="assets/image/logo.png"></div>
  <br/>
  <ion-list>
    <ion-item>
      <ion-label primary fixed>手机</ion-label>
      <ion-input type="tel" placeholder="填写您注册的手机号"  [(ngModel)]="inputPhoneNumber" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label primary fixed>密码</ion-label>
      <ion-input type="password" placeholder="填写您注册的密码" [(ngModel)]="inputPassword" clearInput></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button full danger Round (click)="login()">登录</button>
</ion-content>
