<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="附近" tabIcon="pin"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="交流" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="攻略" tabIcon="text"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="我的" tabIcon="person"></ion-tab>
</ion-tabs>
