<!--
  Generated template for the MessagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>场所攻略1</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
 <!--<ion-list>
 <ion-item *ngFor="let item of items, let i = index"  type="item-text-wrap" (click)="openLink(i);">
    <h2>{{item.title_plain}}</h2>
    <p style="font-size:13px">类别：<span *ngFor="category in item.categories">{{category.title}}<i *ngIf="i != item.categories.length-1">、</i></span></p>
    <p style="font-size:11px">时间: <span ng-bind="getDateDiff(item.date)"></span></p>
  </ion-item>
  </ion-list>-->
  <ion-list>
  <ion-item *ngFor="let item of items">
    <ion-thumbnail item-start>
      <img *ngIf="!item.thumbnail_images || !item.thumbnail_images.medium" src="assets/img/default2.jpg"> 
      <img *ngIf="item.thumbnail_images && item.thumbnail_images.medium" [src]="item.thumbnail_images.medium.url">
    </ion-thumbnail>
    <h2>{{item.title_plain}}</h2>
    <p><span *ngFor="let category of item.categories, let i = index">{{category.title}}<i *ngIf="i != item.categories.length-1">、</i></span> , {{ item.date | convertTime}}</p>
    <button ion-button clear item-end (click)="openUrl(item.url)">查看</button>
  </ion-item>
</ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
