<!--
  Generated template for the MsgsearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>搜索文章</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="bar bar-header item-input-inset">
    <ion-searchbar
      placeholder="请输入要搜索的关键词"
      (search)="submitSearch($event)"
      [(ngModel)]="keywords"
      [showCancelButton]="shouldShowCancel"
      (ionCancel)="onCancel($event)"
      placeholder="输入关键字">
    </ion-searchbar>
  <div style="text-align:center;width:100%;padding:10px;" class="row">
    <div class="col col-50" style="text-align:left;">搜索历史</div><div class="col col-50" style="text-align:right;color:#777" (click)="removeAllSearchHistory()">清除<ion-icon name="close-circle"></ion-icon></div>
  </div>
  <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item }}
    </ion-item>
  </ion-list>
  </div>
</ion-content>
