<ion-header>
  <ion-navbar>
    <ion-title>看附近</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>男孩久久首页!</h2>
  <p>
    经度：{{globals.MYLNG}} 维度： {{globals.MYLAT}}
  </p>
  <p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p>
</ion-content>
