<ion-header>
  <ion-navbar secondary>
    <ion-title>
      用户注册
    </ion-title>
    <ion-buttons end>
      <button ion-button block (click)="goToLoginPage()">
        登录页面
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label primary fixed>手机</ion-label>
      <ion-input type="tel" placeholder="只支持中国大陆手机号"  [(ngModel)]="inputPhoneNumber" clearInput required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label primary fixed>验证码</ion-label>
      <ion-input type="number" [(ngModel)]="inputYZM" clearInput required></ion-input>
      <ion-avatar item-right>
        <button id="btnExcel" ion-button outline secondary (click)="sendYZM(120)">{{btnText}}</button>
      </ion-avatar>
    </ion-item>
    <ion-item>
      <ion-label primary fixed>密码</ion-label>
      <ion-input type="password" placeholder="密码长度应不小于6位" [(ngModel)]="inputPassword" clearInput required></ion-input>
    </ion-item>
    <p style="color: #5677FC;" margin><a (click)="this.helper.goToDefinedPage('agreement')">
        注册表示您同意使用“不约”使用协议和服务条款
    </a></p>
  </ion-list>

  <button ion-button full danger Round (click)="register()">注册</button>
</ion-content>